.photo-grid__element {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  align-self: center;
  box-sizing: border-box;
  position: relative;
}
